<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 2: Param</title>
</head>
<body>
    <form action="/param/save/2021" method="post">
        <input name="y" value="2031">
        <button>Save</button>
    </form>

    <ul>
        <li th:text="${x}">X</li>
        <li th:text="${y}">Y</li>
    </ul>
</body>
</html>