<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân viên</title>
</head>
<body>
<h1>Danh sách nhân viên</h1>

<div th:each="staff, st : ${list}">
    <div>
        <img th:src="@{|/images/${staff.photo}|}" th:alt="${staff.name}" height="40">
        <span th:text="${st.count} + '.'"></span>
        <span th:text="${staff.name}"></span>,
        <span th:text="${staff.salary}"></span>
        <span th:switch="${staff.level}">
                <span th:case="0">Úy</span>
                <span th:case="1">Tá</span>
                <span th:case="2">Tướng</span>
                <span th:case="*">Không rõ</span>
            </span>
    </div>
    <div th:if="${!st.last}">
        <hr>
    </div>
</div>
</body>
</html>
